<!DOCTYPE html>
<html>
  <head>
    <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <style>
      .form-signin
      {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
      }
      .form-signin .form-signin-heading, .form-signin .checkbox
      {
          margin-bottom: 10px;
      }
      .form-signin .checkbox
      {
          font-weight: normal;
      }
      .form-signin .form-control
      {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      .form-signin .form-control:focus
      {
          z-index: 2;
      }
      .form-signin input[type="text"]
      {
          margin-bottom: -1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"]
      {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
      .account-wall
      {
          margin-top: 20px;
          padding: 40px 0px 20px 0px;
          background-color: #f7f7f7;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .login-title
      {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          display: block;
      }
      .profile-img
      {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
      }
      .need-help
      {
          margin-top: 10px;
      }
      .new-account
      {
          display: block;
          margin-top: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>TALW -  Iniciar Sesión</title>
  </head>
  <body>
    <section class="mbr-section mbr-section-hero mbr-section-full" id="header1-3" style="background-color:rgb(41, 105, 176);">
        <div class="mbr-table-cell">
            <div class="container">
              <div class="row">
                  <div class="col-sm-10 col-md-10 col-md-offset-1">
                      <div class="account-wall" style="border-radius: 20px">
                          <h1 class="mbr-section-title display-1 text-center" style="color: rgb(41, 105, 176);">Cuestionario de Registro<br></h1>
                          <h4  class="text-center" style="text-align: justify; margin-left: 11%; margin-right: 11%;">A continuación, se solicita completar 12 frases, las cuales pueden finalizar de 4 formas distintas. Para esto, debes ordenar las cuatro opciones según lo que más se ajuste a tu manera de aprender y/o trabajar. Por favor, enuméralas desde el 1 al 4, asignando el número 1 a la que se ajuste de peor manera a ti y el 4 la que mejor se ajuste.<br><b>¡Es de suma importancia que todas las terminaciones tengan un número asignado!</b></h4>
                          <!--<form class="form-signin" action="<%= cuestionario_path %>" method="post" style="max-width: none !important;">-->
                            <div class="row">
                              <div class="col-sm-10 col-md-10 col-md-offset-1">
                                <%  
                                  respondidas = 0
                                  contador = 1
                                  @cuestionario.shuffle.each do |pregunta|
                                %>      
                                    <div class="table-responsive" id="tabla<%= contador %>" style="<% if contador != 1 %>display: none;<% end %>">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th class="col-sm-2 col-md-2"></th>
                                            <th class="col-sm-2 col-md-2"><%= pregunta.ec_answer %></th>
                                            <th class="col-sm-2 col-md-2"><%= pregunta.or_answer %></th>
                                            <th class="col-sm-2 col-md-2"><%= pregunta.ca_answer %></th>
                                            <th class="col-sm-2 col-md-2"><%= pregunta.ea_answer %></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><%= pregunta.phrase %></td>
                                            <td><input id="ec<%= contador %>" name="ec<%= contador %>" type="text" class="form-control" style="margin-bottom: 1%" placeholder="1, 2, 3 ó 4" autofocus></td>
                                            <td><input id="or<%= contador %>" name="or<%= contador %>" type="text" class="form-control" style="margin-bottom: 1%" placeholder="1, 2, 3 ó 4" autofocus></td>
                                            <td><input id="ca<%= contador %>" name="ca<%= contador %>" type="text" class="form-control" style="margin-bottom: 1%" placeholder="1, 2, 3 ó 4" autofocus></td>
                                            <td><input id="ea<%= contador %>" name="ea<%= contador %>" type="text" class="form-control" style="margin-bottom: 1%" placeholder="1, 2, 3 ó 4" autofocus></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <div class="text-center">
                                        <button type=button align="center" class="btn" onclick="document.getElementById('tabla<%= contador %>').style.display = 'none'; <% if contador != 12 %> document.getElementById('tabla<%= contador+1 %>').style.display = 'block' <% end %>; <% if contador == 12 %> document.getElementById('submit_button').style.display = 'initial'; document.getElementById('welcome_message').style.display = 'initial'; <% end %>">Ver siguiente</button>
                                      </div>       
                                    </div>
                                <% 
                                    contador = contador + 1
                                  end
                                %> 
                              </div>
                            </div>
                            <div class="text-center">
                              <h4  class="text-center" id="welcome_message" style="text-align: center; display: none;">Tus respuestas han sido registradas correctamente en nuestra base de datos.<br><b>¡Bienvenid@ a The Adaptive Learning Wiki!</b></h4><br><br>
                              <button id="submit_button" align="center" class="btn" style="display: none;" onclick="alert('¡Usuario registrado correctamente!'); window.location = '/'; <% user = Usuario.find_by(id: params[:id]); user.update({test_solved?: 1}) %>">Continuar al menú de acceso</button>
                            </div>
                          <!--</form>-->
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <input name="animation" type="hidden">
  </body>
</html>