<!DOCTYPE html>
<html>
  <head>
    <!-- Site made with Mobirise Website Builder v3.12.1, <%= root_path %>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/talw-172x128.png" type="image/x-icon">
    <meta name="description" content="">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
  </head>
  <body>
    <section id="ext_menu-3">

        <nav class="navbar navbar-dropdown navbar-fixed-top">
            <div class="container">

                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a href="<%= root_path %>" class="navbar-logo"><%= image_tag("talw-172x128.png", :alt => "rss feed") %>
                            </a>
                            <a class="navbar-caption" href="<%= root_path %>">THE ADAPTIVE LEARNING WIKI</a>
                        </div>

                    </div>
                    <div class="mbr-table-cell">

                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>

                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="<%= registro_path %>">REGISTRARSE</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-secondary" href="<%= login_path%>">INICIAR SESIÓN</a></li></ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>

                    </div>
                </div>

            </div>
        </nav>
    </section>

    <section class="mbr-section mbr-after-navbar" id="form2-2" style="background-color: rgb(41, 105, 176); padding-top: 250px; padding-bottom: 300px;">
        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">¡COMIENZA A BUSCAR YA!</h3>
                        <small class="mbr-section-subtitle">Y únete a la comunidad de aprendizaje colaborativo más grande del mundo</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                        <div data-form-alert="true"><div hidden="" data-form-alert-success="true"></div></div>
                        <form class="mbr-form" action="<%= experto_path %>" method="post" data-form-title="FORM">
                            <input type="hidden" value="MdDxUCsngaaAcDtOPU3UDEtnbyKUVS99kyKv0iSZm1aVV+m7TdLDIYxC/Opc/yBjkLAKL7w92/abi+4uscXtjb0EukUnt/V4QIgsdUAomhnp7r6WGmzOkSSbdab/xSYa" data-form-text="true">

                            <div class="mbr-subscribe mbr-subscribe-dark input-group">
                                <input type="text" class="form-control" name="text" required="" data-form-field="Text" placeholder="Ingresa palabras claves..." id="text">
                                <span class="input-group-btn"><button type="submit" class="btn btn-black"><span class="etl-icon icon-magnifying-glass mbr-iconfont mbr-iconfont-btn"></span>BUSCAR</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-5" style="background-color: rgb(255, 255, 255);">
      <div class="mbr-cards-row row">
          <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
              <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                      <h4 class="card-title">Bootstrap 4</h4>
                      
                      <p class="card-text">Bootstrap 4 has been noted as one of the most reliable and proven frameworks and Mobirise has been equipped to develop websites using this framework.</p>
                      <div class="card-btn"><a href="<%= root_path %> class="btn btn-primary">MORE</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
              <div class="container">
                  <div class="card cart-block">
                      
                      <div class="card-block">
                          <h4 class="card-title">Responsive</h4>
                          
                          <p class="card-text">One of Bootstrap 4's big points is responsiveness and Mobirise makes effective use of this by generating highly responsive website for you.</p>
                          <div class="card-btn"><a href="<%= root_path %> class="btn btn-primary">MORE</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
              <div class="container">
                  <div class="card cart-block">
                      
                      <div class="card-block">
                          <h4 class="card-title">Web Fonts</h4>
                          
                          <p class="card-text">Google has a highly exhaustive list of fonts compiled into its web font platform and Mobirise makes it easy for you to use them on your website easily and freely.</p>
                          <div class="card-btn"><a href="<%= root_path %> class="btn btn-primary">MORE</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
              <div class="container">
                  <div class="card cart-block">
                      
                      <div class="card-block">
                          <h4 class="card-title">Unlimited Sites</h4>
                          
                          <p class="card-text">Mobirise gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.</p>
                          <div class="card-btn"><a href="<%= root_path %> class="btn btn-primary">MORE</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
              <div class="container">
                  <div class="card cart-block">
                      
                      <div class="card-block">
                          <h4 class="card-title">Trendy Website Blocks</h4>
                          
                          <p class="card-text">Choose from the large selection of latest pre-made blocks - jumbotrons, hero images, parallax scrolling, video backgrounds, hamburger menu, sticky header and more.</p>
                          <div class="card-btn"><a href="<%= root_path %> class="btn btn-primary">MORE</a></div>
                      </div>
                  </div>
              </div>
          </div>    
      </div>
    </section>
    <input name="animation" type="hidden">
  </body>
</html>