<html>
  <head>
    <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/talw-172x128.png" type="image/x-icon">
    <meta name="description" content="">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

    <style>
        .active {background-color: grey;}

        body {
			background: #fafafa url(http://jackrugile.com/images/misc/noise-diagonal.png);
			color: #444;
		}

		strong {
			font-weight: bold; 
		}

		em {
			font-style: italic; 
		}

		table {
			background: #f5f5f5;
			border-collapse: separate;
			box-shadow: inset 0 1px 0 #fff;
			font-size: 12px;
			line-height: 24px;
			margin: 30px auto;
			text-align: left;
			width: 800px;
		}	

		th {
			background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
			border-left: 1px solid #555;
			border-right: 1px solid #777;
			border-top: 1px solid #555;
			border-bottom: 1px solid #333;
			box-shadow: inset 0 1px 0 #999;
			color: #fff;
		  	font-weight: bold;
			padding: 10px 15px;
			position: relative;
			text-shadow: 0 1px 0 #000;	
		}

		th:after {
			background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
			content: '';
			display: block;
			height: 25%;
			left: 0;
			margin: 1px 0 0 0;
			position: absolute;
			top: 25%;
			width: 100%;
		}

		th:first-child {
			border-left: 1px solid #777;	
			box-shadow: inset 1px 1px 0 #999;
		}

		th:last-child {
			box-shadow: inset -1px 1px 0 #999;
		}

		td {
			border-right: 1px solid #fff;
			border-left: 1px solid #e8e8e8;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #e8e8e8;
			padding: 10px 15px;
			position: relative;
			transition: all 300ms;
		}

		td:first-child {
			box-shadow: inset 1px 0 0 #fff;
		}	

		td:last-child {
			border-right: 1px solid #e8e8e8;
			box-shadow: inset -1px 0 0 #fff;
		}	

		tr {
			background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
		}

		tr:nth-child(odd) td {
			background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
		}

		tr:last-of-type td {
			box-shadow: inset 0 -1px 0 #fff; 
		}

		tr:last-of-type td:first-child {
			box-shadow: inset 1px -1px 0 #fff;
		}	

		tr:last-of-type td:last-child {
			box-shadow: inset -1px -1px 0 #fff;
		}	

		tbody:hover td {
			color: transparent;
			text-shadow: 0 0 3px #aaa;
		}

		tbody:hover tr:hover td {
			color: #444;
			text-shadow: 0 1px 0 #fff;
		}
    </style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>
  <body>
    <section id="ext_menu-3">
        <nav class="navbar navbar-dropdown navbar-fixed-top">
            <div class="container">
                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a href="<%= root_path %>" class="navbar-logo"><%= image_tag("talw-172x128.png", :alt => "rss feed") %>
                            </a>
                            <a class="navbar-caption" href="<%= root_path %>">THE ADAPTIVE LEARNING WIKI</a>
                        </div>
                    </div>
                    <div class="mbr-table-cell">
                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>
                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="<%= registro_path %>">REGISTRARSE</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-secondary" href="<%= login_path%>">INICIAR SESIÓN</a></li></ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section class="mbr-section mbr-after-navbar" id="form2-2" style="background-color: rgb(41, 105, 176); padding-top: 150px; padding-bottom: 400px;">
        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container" style="margin-left: 0">
                <div class="row">
                        <div class="col-xs-12 col-lg-12 col-lg-offset-1" data-form-type="formoid" style="margin-left: 10%">
                        	<small class="mbr-section-subtitle" align="center">Resultados de la búsqueda:</small>
                            <table>
							  <thead>
							    <tr>
							      <th>Enlace</th>
							      <th>Título</th>
							      <th>Calificación</th>
							    </tr>
							  </thead>
							  <tbody>
							<% 
								bool = false
								contador = 1
							  	@archivos.each do |i| 
							  		@search.each do |word|
								  		if i.tags.include?(word)
							%>
											<tr>
											    <td><a href="<%= i.referencia %>" target="_blank"><img height="40px" width="35px" src="http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png"></a></td>
											    <td><strong><%= i.nombre%></strong></td>
											    <td align="center"><%= '%.1f' % i.calificacion.to_f %></td>
											</tr>
							<%				
											bool = true
											break
										end
							    	end 
							    	contador = contador + 1
							  	end

							  	if bool == false
							%>
                        			<tr>
										<td></td>
										<td><strong>No se han encontrado resultados</strong></td>
										<td align="center"></td>
									</tr>
                        	<%	end %>
							  </tbody>
							</table>
                        </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>